[submodule "chessboardjs"]
	path = chessboardjs
	url = https://github.com/oakmac/chessboardjs/
[submodule "chess.js"]
	path = chess.js
	url = https://github.com/jhlywa/chess.js
[submodule "ace"]
	path = ace
	url = https://github.com/ajaxorg/ace.git
[submodule "ace-builds"]
	path = ace-builds
	url = https://github.com/ajaxorg/ace-builds.git
